.landing .nav-link:hover {
    color: #fff;
    background-color: #007bff;
}

.landing-form-wrapper {
    height: calc(100vh - 40px - .5rem);
    max-height: 600px;
}

.landing-form {
    width: 100%;
    max-width: 320px;
}

.spinner-grow {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: calc(50% - 3rem);
    top: calc(50% - 3rem);
}

.card {
    height: 100%;
}

.card .btn {
    position: absolute;
    bottom: .5rem;
    right: 1.25rem;
}

.card .btn.favorite {
    left: 1.25rem;
    right: auto;
}

.cabinet-nav {
    position: fixed;
    height: 100vh;
    padding: 60px 0 10px;
    width: 240px;
}

.logout {
    cursor: pointer;
    color: #007bff;
}

.search {
    position: relative;
}

.search i {
    position: absolute;
    left: 10px;
    top: 10px;
}

.search input {
    padding-left: 35px;
}

.page-item {
    cursor: pointer;
}

.page-item.disabled {
    cursor: default;
}

.toolbar {
    width: 235px;
    margin: 0 auto;
}

.cabinet .sidebar {
    width: 100%;
    max-width: 280px;
    position: fixed;
    left: -320px;
    top: 0;
    height: 100vh;
    padding: 0 20px;
    z-index: 4;
    background: #fff;
    transition: left .3s ease;
}

.icon-menu {
    position: fixed;
    left: 5px;
    top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    transition: left .3s ease;
    z-index: 2;
}

.open-menu .icon-menu {
    left: 225px;
}

.open-menu .icon-menu:before {
    content: "\f060";
}

.open-menu .cabinet .sidebar {
    left: 0;
}

.cabinet .main {
    width: calc(100% - 10px);
}

body.open-modal {
    overflow: hidden;
    padding-right: 17px;
}

.modal.show {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
    overflow: hidden;
    padding-right: 17px;
}

.modal-content {
    padding: 5px 10px;
}

@media (min-width: 768px) {
    .toolbar {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 960px) {
    .cabinet .sidebar {
        left: 0;
    }

    .cabinet .main {
        width: calc(100vw - 320px);
        margin-left: 280px;
    }

    .fa-bars {
        display: none;
    }

    .cabinet-nav {
        padding: 10px;
    }
}

@media (min-width: 1600px) {
    .news-item {
        flex: 0 0 25%;
        max-width: 25%;
    }
}