.landing .nav-link:hover {
    color: #fff;
    background-color: #007bff;
}

.landing-form-wrapper {
    height: calc(100vh - 40px - .5rem);
    max-height: 600px;
}

.landing-form {
    width: 100%;
    max-width: 320px;
}

.spinner-grow {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: calc(50% - 3rem);
    top: calc(50% - 3rem);
}

.card {
    height: 100%;
}

.card .btn {
    position: absolute;
    bottom: .5rem;
    right: 1.25rem;
}

.cabinet-nav {
    position: fixed;
    height: 100vh;
    padding: 10px 0;
    width: 287px;
}

.logout {
    cursor: pointer;
    color: #007bff;
}