.landing .nav-link:hover {
    color: #fff;
    background-color: #007bff;
}

.landing-form-wrapper {
    height: calc(100vh - 40px - .5rem);
    max-height: 600px;
}

.landing-form {
    width: 100%;
    max-width: 320px;
}

.spinner-grow {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: calc(50% - 3rem);
    top: calc(50% - 3rem);
}

.card {
    height: 100%;
}

.card .btn {
    position: absolute;
    bottom: .5rem;
    right: 1.25rem;
}

.card .btn.favorite {
    left: 1.25rem;
    right: auto;
}

.cabinet-nav {
    position: fixed;
    height: 100vh;
    padding: 10px 0;
    width: 280px;
}

.logout {
    cursor: pointer;
    color: #007bff;
}

.search {
    position: relative;
}

.search i {
    position: absolute;
    left: 10px;
    top: 10px;
}

.search input {
    padding-left: 35px;
}

.page-item {
    cursor: pointer;
}

.page-item.disabled {
    cursor: default;
}

.cabinet .sidebar {
    width: 100%;
    max-width: 320px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 0 20px;
}

.cabinet .main {
    width: calc(100vw - 360px);
    margin-left: 320px;
}

body.open-modal {
    overflow: hidden;
    padding-right: 17px;
}

.modal.show {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(5px);
    overflow: hidden;
    padding-right: 17px;
}

.modal-content {
    padding: 5px 10px;
}